body{
	width: 900px;
	height: 900px;
	background-image: url(texture.jpg);
	background-repeat: repeat;
}

table{
	opacity: .3;
}

td {

	background-color: black; 
	border: 1px solid white;
}

.color1 {

	background-color: #FFFFFF;

}

.color2 {

	background-color: #FF0000;

}

.color3 {

	background-color: #FF7700;
	
}

.color4 {

	background-color: #FFDD00;
	
}

.color5 {

	background-color: #00FF00;
	
}

.color6 {

	background-color: #0000FF;
	
}

.color7 {

	background-color: #8A2BE2;
	
}

.color8 {

	background-color: #C77DF3;
	
}

